<h1><%= @song.title %></h1>

<h3>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) if @song.artist %></h3>

<p>Created at: <%= @song.created_at %></p>

<p>Updated at: <%= @song.updated_at %></p>
